langchain
langchain_core
langchain_groq
langchain_community
langchain_huggingface
langchain_text_splitters

sentence-transformers

langgraph
python-dotenv

streamlit

langgraph-checkpoint-sqlite

ddgs
requests
faiss-cpu

structlog

pypdf

# FastAPI
fastapi
uvicorn[standard]
python-multipart
sse-starlette